NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

VK_CLIENT_ID=
VK_CLIENT_SECRET=

GROQ_API_KEY=
DEEPGRAM_API_KEY=
FONADALABS_API_KEY=
HUGGING_FACE_API_KEY=

# Optional for Docker compose local networking
INNGEST_DEV=http://inngest:8288
INNGEST_BASE_URL=http://inngest:8288
